@tailwind base;
@tailwind components;
@tailwind utilities;

:root { }

html[dir='rtl'] {
  direction: rtl;
}

body {
  font-family: "Cairo", system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans Arabic', sans-serif;
  background-color: #f8fafc;
}

.container { max-width: 1100px; }
